<!DOCTYPE html>

<html>
    <link type="text/css" rel="stylesheet" id="theme-dark-link">
    <head>
        <meta charset="UTF-8">
        <title> Gourmet! | Recetario en la nube </title>
        <link rel="shortcut icon" type="image/x-icon" href="../resources/icons/CaC-icon.ico" />
        <link rel="stylesheet" href="../src/stylesheets/styles.css">
        <link rel="stylesheet" href="../src/stylesheets/general-styles.css">
    </head>
    <body>
        <div class="global-navigation">
            <div class="global-navigation__top">
                <nav class="global-navigation__nav" aria-label="Navegación en el sitio">
                    <a target="_blank" rel="noopener noreferrer" href="https://buenosaires.gob.ar/educacion/codocodo/el-programa" class="global-navigation__logo" label="logo" aria-label="Aulas virtuales del curso">
                        <img src="../resources/imgs/CaC-logo.png" width="60px" height="28px">
                        <span> « CaC » </span>
                    </a>
                    <a href="" class="global-navigation__icon" title="Buscar">
                        <svg class="icon">
                            <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-magnifying-glass" />
                        </svg>
                    </a>
                    <div class="global-navigation__links">
                        <a target="_blank" rel="noopener noreferrer" href="https://meet.google.com/woh-kgvq-ftc" class="global-navigation__link">
                            <span class="global-navigation__icon has-background">
                                <svg class="icon">
                                    <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-g-meet"/>
                                </svg>
                            </span>
                            <span class="global-navigation__label">Curso</span>
                        </a>
                        <a target="_blank" rel="noopener noreferrer" href="https://drive.google.com/drive/folders/1Iv_z7TY5NEblnPsQuxQBK_PQ0OjvVq_E" class="global-navigation__link">
                            <span class="global-navigation__icon has-background">
                                <svg class="icon">
                                    <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-g-drive"/>
                                </svg>
                            </span>
                            <span class="global-navigation__label">Recursos</span>
                        </a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/playlist?list=PLMBLJyhQOSWxHBYa2Nyki0bGPK4hb3J2g" class="global-navigation__link">
                            <span class="global-navigation__icon has-background">
                                <svg class="icon">
                                    <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-tele"/>
                                </svg>
                            </span>
                            <span class="global-navigation__label">Playlist de Youtube</span>
                        </a>
                        <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/codoacodooficial/" class="global-navigation__link" label="Facebook Oficil">
                            <span class="global-navigation__icon has-background">
                                <svg class="icon">
                                    <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-facebook" />
                                </svg>
                            </span>
                            <span class="global-navigation__label">Redes Sociales</span>
                        </a>
                        <a target="_blank" rel="noopener noreferrer" href="https://aulasvirtuales.bue.edu.ar/my/" class="global-navigation__link" label="Aulas Virtuales">
                            <span class="global-navigation__icon has-background">
                                <svg class="icon">
                                    <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-bookyy" />
                                </svg>
                            </span>
                            <span class="global-navigation__label">Aulas Virtuales</span>
                        </a>
                    </div>
                </nav>
            </div>
            <div class="global-navigation__bottom">
                <div id="notifications">
                   <div class="global-navigation__icon">
                        <svg class="icon" color="var(--global-text-color)">
                            <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-bell" />
                        </svg>
                   </div>
                </div>
                <div class="dropdown open-to-right is-attached-to-bottom">
                    <div class="dropdown__toggle">
                        <div class="global-navigation__icon">
                            <div class="avatar">
                                <img src="../resources/imgs/avatar_alumn.jpg" title="Alumno" class="avatar__imag">
                            </div>
                        </div>
                    </div>
                    <div class="dropdown__content">
                        <ul class="list is-linked">
                            <li>
                                <a><span style="font-weight: 1000;">Programa Codo a Codo 2023</span></a>
                            </li>
                            <li>
                                <a><span style="font-weight: 1000;">CaC Comision: </span>23548</a>
                            </li>
                            <li>
                                <a><span style="font-weight: 1000;">Alumno: </span>Miguel E. Diaz G.</a>
                            </li>
                            <li>
                                <a><span style="font-weight: 1000;">DNI: </span>95.887.973</a>
                            </li>
                            <li>
                                <a><span style="font-weight: 1000;">E-mail de contacto: </span>walther22wolff.gedler@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="page-header__background cover" style="--image-ratio:1"></div>
            <div class="container">
                <div class="header-wrapper">
                    <header class="community-header">
                        <a href="./index.html" class="community-header__image">
                            <img src="../resources/imgs/Logo-Management-Gourmet.png" width="115" height="65" alt="Gourmet Page">
                        </a>
                        <div class="community-header__top-container">
                            <div class="community-header__name-wrapper">
                                <a href="./index.html" class="community-header__name"> Gourmet! Tu recetario en la nube </a>
                            </div>
                            <div class="recipe-counter">
                                <div class="recipe-counter__value">548</div>
                                <div class="recipe-counter__label">recetas</div>
                            </div>
                        </div>
                        <nav class="community-header__local-navigation">
                            <ul class="tabs">
                                <li id="tab_1" class="dropdown explore-menu">
                                    <div class="tabs__tab-label dropdown__toggle">
                                        <a href="#">
                                            <svg class="icon-tiny icon">
                                                <use href="../resources/Hurtado-IconSet-1.svg#wds-icons-book-tiny" />
                                            </svg>
                                            <span>Explora</span>
                                        </a>
                                        <svg class="icon icon-tiny dropdown__toggle-chevron">
                                            <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-dropdown-tiny" />
                                        </svg>
                                    </div>
                                    <div class="is-not-scrollable dropdown__content">
                                        <ul class="list is-linked">
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="./rent_events.html">
                                                    <span>Rentar para eventos</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="./hire_chef.html">
                                                    <span>Contratar un chef profesional</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="./merchandise.html">
                                                    <span>Otros productos</span>
                                                </a>
                                            </li>                                                                                                                                   
                                        </ul>
                                    </div>
                                </li>
                                <li id="tab_2" class="dropdown">
                                    <div class="tabs__tab-label dropdown__toggle">
                                        <a href="#">
                                            <span>Alimentos y Nutricion</span>
                                        </a>
                                        <svg class="icon icon-tiny dropdown__toggle-chevron">
                                            <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-dropdown-tiny" />
                                        </svg>
                                    </div>
                                    <div class="is-not-scrollable dropdown__content">
                                        <ul class="list is-linked">
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://www.unicef.org/lac/crianza/alimento-y-nutricion">
                                                    <span>Recursos de 'UNICEF'</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://medlineplus.gov/spanish/foodandnutrition.html">
                                                    <span>Recursos de 'MedLine Plus'</span>
                                                </a>
                                            </li> 
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://www.niddk.nih.gov/health-information/informacion-de-la-salud/alimentacion-nutricion">
                                                    <span>Recursos del 'NIH'</span>
                                                </a>
                                            </li>    
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://www.argentina.gob.ar/salud/alimentacion-saludable">
                                                    <span>Recursos del Minisiterio de Salud de Argentina</span>
                                                </a>
                                            </li>                                                                                                                                     
                                        </ul>
                                    </div>
                                </li>
                                <li id="tab_3" class="dropdown">
                                    <div class="tabs__tab-label dropdown__toggle">
                                        <a href="#">
                                            <span>Alimentos y Ejercicio</span>
                                        </a>
                                        <svg class="icon icon-tiny dropdown__toggle-chevron">
                                            <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-dropdown-tiny" />
                                        </svg>
                                    </div>
                                    <div class="is-not-scrollable dropdown__content">
                                        <ul class="list is-linked">
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://dietas.guiafitness.com/">
                                                    <span>Guia Fitness</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://www.entrenamiento.com/">
                                                    <span>Entrenamientos variados</span>
                                                </a>
                                            </li>  
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://instafit.com/">
                                                    <span>Disciplinas Atleticas</span>
                                                </a>
                                            </li>                                                                                       
                                        </ul>
                                    </div>
                                </li>
                                <li id="tab_4" class="dropdown">
                                    <div class="tabs__tab-label dropdown__toggle">
                                        <a href="#">
                                            <span>Alimentos y Salud</span>
                                        </a>
                                        <svg class="icon icon-tiny dropdown__toggle-chevron">
                                            <use xlink:href="../resources/Hurtado-IconSet-1.svg#wds-icons-dropdown-tiny" />
                                        </svg>
                                    </div>
                                    <div class="is-not-scrollable dropdown__content">
                                        <ul class="list is-linked">
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://www.midietacojea.com/">
                                                    <span>Blog de dietas y nutricion</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://adelgazarysalud.online/">
                                                    <span>Blog de salud y alimentacion</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a target="_blank" rel="noopener noreferrer" href="https://estilosdevidasaludable.sanidad.gob.es/alimentacionSaludable/home.htm">
                                                    <span>Blog de estilos de vida</span>
                                                </a>
                                            </li>                                                                                                                                  
                                        </ul>
                                    </div>                                    
                                </li>
                            </ul>
                        </nav>
                    </header>
                </div>
                <div class="page">
                    <main class="page__main" lang="es">
                        <div class="page-header">
                            <div class="page-header__bottom">
                                <div class="page-header__title-wrapper">
                                    <h1 class="page-header__title"> Productos varios </h1>
                                </div>
                            </div>
                        </div>
                        <div id="content" class="page-content"></div>
                    </main>
                </div>
                <div class="page-footer">
                    <div>
                        <h2 class="page-header__title" style="text-align: center; margin: 10px;">Suscripcion</h2>
                        <p style="text-align: center;color: var(--global-text-color);margin: 10px;">¡Suscribete para recibir recetas nuevas directamente a tu buzon!</p>
                        <form action>
                            <div class="page-footer__content page-footer__content-double">
                                <div>
                                    <input type="text" class="form-box" placeholder="Nombre" aria-label="Nombre" required>
                                </div>
                                <div>
                                    <input type="text" class="form-box" placeholder="Apellido" aria-label="Apellido" required>
                                </div>
                            </div>
                            <div class="page-footer__content">
                                <div>
                                    <input type="email" class="form-box" placeholder="E-mail" aria-label="Email" required>
                                </div>
                            </div>
                            <div class="page-footer__content">
                                <div>
                                    <textarea class="form-box" id="TemplateFormControlTextArea" rows="4" placeholder="Cuentanos de tus preferencias" required></textarea>
                                    <button class="form-button" type="submit">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <footer class="global-footer">
                <div class="global-footer__content">
                    <a href="" class="box-content__link" style="font-size: 18px; text-align: center;">Preguntas frecuentes</a>
                    <a href="" class="box-content__link" style="font-size: 18px; text-align: center;">Conferencias sobre nutricion</a>
                    <a href="" class="box-content__link" style="font-size: 18px; text-align: center;">Talleres de tratamiento de alimentos</a>
                    <a href="" class="box-content__link" style="font-size: 18px; text-align: center;">Obtencion de ingredientes</a>
                </div>
            </footer>
        </div>
        <script src="./assets/src/manualslide.js"></script>
    </body>
</html>